@font-face {
    font-family: 'FuturaPTBook';
    src: url('type/FuturaPTBook.otf');
}

@font-face {
    font-family: 'FuturaPTMedium';
    src: url('type/FuturaPTMedium.otf');
}

@font-face {
    font-family: 'FuturaPTBold';
    src: url('type/FuturaPTBold.otf');
}

@font-face {
    font-family: 'Avenir Next';
    src: url('Avenir Next.ttc');
}


#startupNav {
    text-align: right;
}

html,
body {
    height:100%;
    font-family: "Avenir Next";
}

body  {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: white;
    text-align: center;
}

img {
    max-width: 100%;
}

.hero-container,
.info-container,
.testimonials-container1,
.testomials-container2,
.payment-container,
footer{
    width: 100%;
    display: flex;
    align-items: center;
}

/*** NAVBAR ***/


.navbar {
    background-color: rgb(0,0,0);
}
.stems-text {
    font-size: 2rem;
    text-align: left
}

.navbar li {
    font-size: 1.1rem;
}

.download {
    font-weight: 600;
}


.sign-up {
    color: white;

}

/*** HERO SECTION ***/

.hero-container {
    background: url("http://res.cloudinary.com/dh0phzako/image/upload/v1495115650/Light-min_iukc2x.png") center center no-repeat;
    background-size: cover;
    height: 100%;
    color: white;  
}

#stage-caption {
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center; 
}

#tag1 {
    color: white;
    font-weight: medium;
    letter-spacing: 0.0625rem;
    padding: 20px;
    font-size: 2rem;
}
#text-box {
    background-color: rgba(0,0,0,0.8);
    /*    padding: 20px 10px 5px 20px;*/
    max-width: 100%;
    text-align: center;
}

#tag2 {
    color: #333;
    font-size: 1.7rem;
    font-weight: medium;
    letter-spacing: 0.0625rem;
    padding: 10px;
}

#text-box2 {
    background-color: rgba(255,255,255,0.7);
    padding: 10px 10px 5px 10px;
    margin: 10px auto 50px;
    max-width: 450px;
}

/*** INFO SECTION ***/

.info-container {
    position: relative;
}

.feature-content {
    padding: 8rem 3rem;
    overflow: hidden;
}

.h3-description,
h4 {
    font-size: 1.5rem;
    letter-spacing: 0.05rem;
    line-height: 1.5;
}

h4 {
    font-weight: 600;
}

h4.arrow {
    font-style: italic;
    font-weight: 600;
}


.purple-background {
    background: linear-gradient(to bottom, rgba(83,0,239,0.8), rgba(107,53,165,0.8));
}


.info-box {
    border: 5px solid white;
    border-radius: 8px;
    background-color: rgba(255,255,255,0);
    color: white;
    height: 25rem;
    margin-bottom: 3rem;
    padding: 1rem;

}



.card-text {
    font-size: 1.3rem;
    letter-spacing: 0.05rem;

}

.card-img-top {
    margin: 20px auto;
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.info-box h4 {
    margin: 1rem 1rem 2rem;
}

.quote-icon {
    position: absolute;
    z-index: 1;
    bottom: -35px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


/*** TESTIMONIAL SECTION ***/


.testimonials-container1 {
    background-color: #333;
}

.testimonials-container2 {
    position: relative;
}

.lead {
    font-size: 1.5rem;
    margin-top: 10%;
    font-style: italic;
}

.text-box {
    border-right: 2px solid white;
    padding-right: 30px;
}

.text-box2 {
    border-left: 2px solid black;
    padding-left: 30px;
}


.blockquote {
    margin-top: 10px;
    border: none;

}

.manquote p {
    text-align: left;
    border-left: 2px solid white;
    padding-left: 20px;

}

.womanquote p {
    text-align: right;
    border-right: 2px solid black;
    padding-right: 20px;
}


.testimonials-container2 {
    color: black;
}

.download-button {
    position: absolute;
    z-index: 1;
    bottom: -35px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#download {
    background-color: #400067;
    color: white;
}


/*** PAYMENT SECTION ***/

.payment-container {
    background: linear-gradient(to bottom, rgba(83,0,239,0.7), rgba(107,53,165,0.7)), url(http://res.cloudinary.com/dh0phzako/image/upload/v1495115681/car-min_jzbu8r.png) center center no-repeat;
    background-size: cover;
}



.arrow {
    font-style: italic;
    font-weight: 600;
}

.social-media-icon {

    margin-bottom: 30px;
}

footer {
    height:70px;
    background-color: #333;
    background: 1E1E1E;
    color: white;
    font-size: 1rem;
}




/*** MEDIA QUERIES ***/



@media screen and ( min-width : 991px ) {

    .hero-container,
    .info-container,
    .testimonials-container1,
    .testimonials-container2,
    .payment-container
    {
        height: 100%;
    }

    .feature-content h3,
    .feature-content h4 {
        font-size: 1.8em;
        margin-bottom: 1.5em;
        letter-spacing: 0.05rem;
    }
    
    h4.card-title {
    color:white;
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
}

    .arrow::before {
        content: url(http://res.cloudinary.com/dh0phzako/image/upload/v1495115678/arrow_yzgays.png);
        padding: 10px;
    }

    .arrow::after {
        content: url(http://res.cloudinary.com/dh0phzako/image/upload/v1495115676/arrow-right_lfmdkx.png);
        padding: 10px;
    }

    .arrow2 {
        margin-top: -15px;
    }


}

@media screen and ( min-width : 768px ) {

    .download::after {
        content: "|";
        margin-left: 35px;
    }

    h3 {
        font-size: 0.
    }


}